<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>magazine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <a href="#" class="web-url">www.mywebsite.com</a>
                    </div>
                    <div class="col-md-6">
                        <div class="share align-middle">
                            <span class="fb"><i class="fa fa-facebook-official"></i></span>
                            <span class="instagram"><i class="fa fa-instagram"></i></span>
                            <span class="twitter"><i class="fa fa-twitter"></i></span>
                            <span class="pinterest"><i class="fa fa-pinterest"></i></span>
                            <span class="google"><i class="fa fa-google-plus"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-menu" data-sticky-nav="1" data-sticky-type="smart">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="navbar-item">
                                <a href="index.html" class="nav-link">Home</a>
                            </li>
                            <li class="navbar-item">
                                <a href="about.html" class="nav-link">About</a>
                            </li>
                            <li class="navbar-item">
                                <a href="category.html" class="nav-link">categories</a>
                            </li>
                            <li class="navbar-item active">
                                <a href="blog.html" class="nav-link">Blog</a>
                            </li>
                            <li class="navbar-item">
                                <a href="contact.html" class="nav-link">Contact</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search here..." aria-label="Search">
                            <span class="fa fa-search"></span>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <div class="full-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                        <ul class="navbar-nav">
                            <li class="navbar-item active">
                                <a href="index.html" class="nav-link">Travel</a>
                            </li>
                            <li class="navbar-item">
                                <a href="shop.html" class="nav-link">Technology</a>
                            </li>
                            <li class="navbar-item">
                                <a href="about.html" class="nav-link">Sports</a>
                            </li>
                            <li class="navbar-item">
                                <a href="faq.html" class="nav-link">Food </a>
                            </li>
                            <li class="navbar-item">
                                <a href="login.html" class="nav-link"> Life Style</a>
                            </li>
                            <li class="navbar-item active">
                                <a href="index.html" class="nav-link">Fashion</a>
                            </li>
                            <li class="navbar-item">
                                <a href="shop.html" class="nav-link">Photography</a>
                            </li>
                            <li class="navbar-item">
                                <a href="about.html" class="nav-link"> Cars </a>
                            </li>
                            <li class="navbar-item">
                                <a href="faq.html" class="nav-link">Health & Fitness </a>
                            </li>
                            <li class="navbar-item">
                                <a href="login.html" class="nav-link">Other</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <section class="artical-sec main-sec">
        <div class="container">
            <div class="row">
                <div class="main-content-sec">
                    <h2>REcent blog posts</h2>
                    <div class="post-item full-post">
                        <div class="img-sec">
                            <img src="images/t1.jpg" alt="h1">
                            <a href="#" class="category-ttl green">health & Fitness</a>
                        </div>
                        <h3><a href="#">Man jogging on the streets of america in early morning</a></h3>
                        <ul class="post-tools">
                            <li class="admin"><a href="#">Admin</a></li>
                            <li class="date">23 Jan 2018</li>
                            <li class="comment">(0) Comments</li>
                        </ul>
                    </div>

                    <p>Lorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It <a href="#">This is Link</a> has survived not only fiveLorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived not only</p>

                    <blockquote>fiveLorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to fiveLorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived </blockquote>

                    <p>not only fiveLorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived not only fiveLorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived not only five</p>

                    <p>Lorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It <a href="#">This is Link</a> has survived not only fiveLorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived not only</p>

                    <p>not only fiveLorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived not only fiveLorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived not only five Lorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It <a href="#">This is Link</a> has survived not only fiveLorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived not only</p>

                    <div class="share-sec">
                         <div class="share align-middle">
                            <span class="text">Share On :</span>
                            <span class="fb"><i class="fa fa-facebook-official"></i></span>
                            <span class="instagram"><i class="fa fa-instagram"></i></span>
                            <span class="twitter"><i class="fa fa-twitter"></i></span>
                            <span class="pinterest"><i class="fa fa-pinterest"></i></span>
                            <span class="google"><i class="fa fa-google-plus"></i></span>
                        </div>
                    </div>
                   <div class="similar-posts">
                    <h3>Similar Posts</h3>
                   <div class="row small-posts">
                    
                        <div class="col-md-6 col-sm-6">
                            <div class="post-item">
                                <div class="img-sec">
                                    <a href="#"><img src="images/t2.jpg" alt="h1"></a>
                                </div>
                                <h3><a href="#">Girl doing yoga on the beach in early morning</a></h3>
                                <ul class="post-tools">
                                    <li class="admin"><a href="#">Admin</a></li>
                                    <li class="date">23 Jan 2018</li>
                                    <li class="comment">(0) Comments</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="post-item">
                                <div class="img-sec">
                                    <a href="#">  <img src="images/t3.jpg" alt="h1"></a>
                                </div>
                                <h3><a href="#">Girl doing yoga on the beach in early morning</a></h3>
                                <ul class="post-tools">
                                    <li class="admin"><a href="#">Admin</a></li>
                                    <li class="date">23 Jan 2018</li>
                                    <li class="comment">(0) Comments</li>
                                </ul>
                            </div>
                        </div>
                     </div>
                    </div>
                    
                </div>
                <aside>
                    <div class="ad-sec">
                        <img src="images/vertical-ads.jpg" alt="add">
                    </div>
                    <div class="top-stores">
                        <h2>Top Stories</h2>
                        <div id="demo" class="carousel slide" data-ride="carousel">
                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="post-item">
                                        <div class="img-sec">
                                            <a href="#">  <img src="images/ts1.jpg" alt="h1"></a>
                                            <a href="#" class="category-ttl red">Photography</a>
                                        </div>
                                        <h3><a href="#">Man jogging on the streets of america in early morning</a></h3>
                                        <ul class="post-tools">
                                            <li class="admin"><a href="#">Admin</a></li>
                                            <li class="date">23 Jan 2018</li>
                                            <li class="comment">(0) Comments</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="post-item">
                                        <div class="img-sec">
                                            <a href="#">  <img src="images/ts1.jpg" alt="h1"></a>
                                            <a href="#" class="category-ttl red">Photography</a>
                                        </div>
                                        <h3><a href="#">Man jogging on the streets of america in early morning</a></h3>
                                        <ul class="post-tools">
                                            <li class="admin"><a href="#">Admin</a></li>
                                            <li class="date">23 Jan 2018</li>
                                            <li class="comment">(0) Comments</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="post-item">
                                        <div class="img-sec">
                                            <a href="#">  <img src="images/ts1.jpg" alt="h1"></a>
                                            <a href="#" class="category-ttl red">Photography</a>
                                        </div>
                                        <h3><a href="#">Man jogging on the streets of america in early morning</a></h3>
                                        <ul class="post-tools">
                                            <li class="admin"><a href="#">Admin</a></li>
                                            <li class="date">23 Jan 2018</li>
                                            <li class="comment">(0) Comments</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev nav-btn" href="#demo" data-slide="prev">
                                <span class="carousel-control-prev-icon">
                                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>previous post
                                </span>
                              </a>
                            <a class="carousel-control-next nav-btn" href="#demo" data-slide="next">
                                <span class="carousel-control-next-icon">
                                    Next post <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </span>
                              </a>
                        </div>
                    </div>
                    <div class="other-stories">
                        <h2>other stories</h2>
                        <div class="post-item row">
                            <div class="col-md-6 col-sm-6 col-6">
                                <div class="img-sec">
                                    <a href="#">  <img src="images/os1.jpg" alt="h1"></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-6">
                                <h3><a href="#">Girl ramp walking on the streets</a></h3>
                                <ul class="post-tools">
                                    <li class="admin"><a href="#">Admin</a></li>
                                    <li class="date">23 Jan 2018</li>
                                    <li class="fashion"><a href="#">Fashion</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-item row">
                            <div class="col-md-6 col-sm-6 col-6">
                                <div class="img-sec">
                                    <a href="#">  <img src="images/os2.jpg" alt="h1"></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-6">
                                <h3><a href="#">Girl ramp walking on the streets</a></h3>
                                <ul class="post-tools">
                                    <li class="admin"><a href="#">Admin</a></li>
                                    <li class="date">23 Jan 2018</li>
                                    <li class="fashion"><a href="#">Fashion</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-item row">
                            <div class="col-md-6 col-sm-6 col-6">
                                <div class="img-sec">
                                    <a href="#">  <img src="images/os3.jpg" alt="h1"></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-6">
                                <h3><a href="#">Girl ramp walking on the streets</a></h3>
                                <ul class="post-tools">
                                    <li class="admin"><a href="#">Admin</a></li>
                                    <li class="date">23 Jan 2018</li>
                                    <li class="fashion"><a href="#">Fashion</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-item row">
                            <div class="col-md-6 col-sm-6 col-6">
                                <div class="img-sec">
                                    <a href="#">  <img src="images/os1.jpg" alt="h1"></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-6">
                                <h3><a href="#">Girl ramp walking on the streets</a></h3>
                                <ul class="post-tools">
                                    <li class="admin"><a href="#">Admin</a></li>
                                    <li class="date">23 Jan 2018</li>
                                    <li class="fashion"><a href="#">Fashion</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>


    <footer>
        
            <div class="footer-sec">
                <div class="container">
                <div class="row">
                    <div class="col-md-4">
                       <img src="images/logo.png" alt="logo">
                       <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</h6>
                       <h6>took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but</h6>
                    </div>
                    <div class="col-md-4">
                       <h3>categories</h3>
                       <ul class="categories">
                           <li><a href="">Photography</a></li>
                           <li><a href="">Health & Wellness</a></li>
                           <li><a href="">Internet</a></li>
                           <li><a href="">High End Fashion</a></li>
                           <li><a href="">Other Category</a></li>
                           <li><a href="">Politics</a></li>
                           <li><a href="">Movies</a></li>
                           <li><a href="">Internet</a></li>
                           <li><a href="">High End Fashion</a></li>
                           <li><a href="">Other Category</a></li>
                           <li><a href="">Politics</a></li>
                           <li><a href="">Movies</a></li>
                           <li><a href="">Tech News</a></li>
                           <li><a href="">Travelling</a></li>
                       </ul>
                    </div>
                    <div class="col-md-4 tags">
                        <h3>tags</h3>
                        <ul>
                            <li><a href="#" class="btn">photography</a></li>
                            <li><a href="" class="btn">food</a></li>
                            <li><a href="" class="btn">nature</a></li>
                            <li><a href="" class="btn">nature</a></li>
                            <li><a href="" class="btn">health & wellness</a></li>
                            <li><a href="" class="btn">photography</a></li>
                            <li><a href="" class="btn">nature</a></li>
                            <li><a href="" class="btn">food</a></li>
                            <li><a href="" class="btn">health & wellness</a></li>
                            <li><a href="" class="btn">nature</a></li>
                            <li><a href="" class="btn">health & wellness</a></li>
                            
                           
                        </ul>
                    </div>
                </div>
            </div>


        </div>

        <div class="terms-conditions">
            <h5>(C) 2017. All Rights Reserved. Magazine Themes</h5>
        </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>